body {
    font-family: "Source Sans 3", sans-serif;
}

.Topbar {
    background-color: #282c34;
    padding: 24px 48px 12px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Topbar > img {
    width: 100px;
}

.MainContainer {
    padding: 4% 12%;
    margin-top: 32px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.ProductPreview {
    width: 50%;
    position: relative;
}

.ProductDetails {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .ProductPreview {
        width: 100vw;
    }

    .ProductDetails {
        width: 100vw;
    }
}
