body {
    font-family: "Source Sans 3", sans-serif;
}


.MainContainer {
    padding: 4% 12%;
    margin-top: 32px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.ProductPreview {
    width: 50%;
    position: relative;
}

.ProductDetails {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .ProductPreview {
        width: 100vw;
    }

    .ProductDetails {
        width: 100vw;
    }

    .MainContainer {
        display: block;
    }
}
